.green-horizon{
	width: 80%;
	background-color: green;
	height:8px;
	border-radius: 10px;
}

.red-horizon{
	width: 80%;
	background-color: red;
	height:8px;
	border-radius: 10px;
}

.orange-horizon{
	width: 80%;
	background-color: orange;
	height:8px;
	border-radius: 10px;
}